html,
body {
    background: #f5f8fa;
    font-family: 'Open Sans';
}

h1 {
    font-size: 27px !important;
}

.mt0 {
    margin-top: 0px !important;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}


/* add sorting icons to gridview sort links */

a.asc:after,
a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/
    "\e151";
}

a.desc:after {
    content: /*"\e114"*/
    "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


/*treeview*/

div.panel:first-child {
    margin-top: 20px;
}

div.treeview {
    min-width: 100px;
    min-height: 100px;
    max-height: 256px;
    overflow: auto;
    padding: 4px;
    margin-bottom: 20px;
    color: #369;
    border: solid 1px;
    border-radius: 4px;
}

div.treeview ul:first-child:before {
    display: none;
}

.treeview,
.treeview ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #369;
}

.treeview ul {
    margin-left: 1em;
    position: relative
}

.treeview ul ul {
    margin-left: .5em
}

.treeview ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-left: 1px solid;
    /* creates a more theme-ready standard for the bootstrap themes */
    bottom: 15px;
}

.treeview li {
    margin: 0;
    padding: 0 1em;
    position: relative
}

.treeview ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree-indicator {
    margin-right: 5px;
    cursor: pointer;
}

.treeview li a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    font-size: 11px;
}

.treeview li a.active {
    font-weight: bold;
}

.treeview li a:hover {
    text-decoration: underline;
}

.treeview li button,
.treeview li button:active,
.treeview li button:focus {
    text-decoration: none;
    color: inherit;
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}


/*end treeiew*/


/*header search block*/

.b-morda-search-decor {
    background-color: #F00;
    padding: 0;
    position: relative;
    width: 753px;
    height: 64px;
}

.b-morda-search-decor-r {
    padding: 4px 3px 9px 4px;
    overflow: hidden;
}

.b-morda-search-table {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.b-search-options {
    margin-top: 4px;
    margin-left: 1px;
    color: #222;
    text-shadow: #FCEDB0 0 1px 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.b-morda-search__arr_c {
    position: absolute;
    left: 100%;
    overflow: hidden;
    width: 17px;
    height: 100%;
    top: 0;
}

.b-morda-search__arr {
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #F00;
    _border-color: #000 #000 #000 #f00;
    _filter: progid: DXImageTransform.Microsoft.Chroma(color='#000000');
    position: absolute;
    top: 50%;
    margin-top: -80px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 80px 0 80px 40px;
    border-color: rgba(255, 255, 255, 0)rgba(255, 255, 255, 0)rgba(255, 255, 255, 0)#F00;
    line-height: 0;
    -moz-border-end-style: dotted;
    -webkit-transform: rotate(360deg);
}

#input1 {
    width: 650px;
    position: relative;
    z-index: 1000;
}

.rand_exmpl {
    border-bottom: 1px dotted;
    cursor: pointer;
}


/*end search block*/

.quicksearch_result {
    display: none;
    position: absolute;
    box-shadow: 0px 5px 10px #727377;
    background: white;
    width:300px;
}

.header {
    background-color: #ffffff;
    border: 1px solid transparent;
    border-color: #d3e0e9;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 20px 40px;
}

.header:hover {
    /*box-shadow: 0px 0px 5px silver;*/
}

span.cartInformer {
    position: absolute;
    border-radius: 10px;
    background: #e53236;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    margin: -10px 0px;
    font-size: 14px;
}

.header_wrapper {
    margin-bottom: 15px;
}

.content {
    background-color: #ffffff;
    border: 1px solid transparent;
    border-color: #d3e0e9;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    padding: 15px 40px;
    min-height:500px;
}

.content-grey {}

.footer {
    margin: 15px 0px;
    background: #494a4c;
    border-radius: 5px;
    border: 1px solid #d0cfcf;
    padding: 15px 40px;
    color: #d0cfcf;
}

#navbar {
    padding: 0px 26px;
}

.summary {
    margin-bottom: 15px;
}

.thumbnail {
    padding: 0px;
    border: 1px solid #ececec;
    transition:box-shadow 0.5s;
}
.thumbnail:hover{
    box-shadow: 0px 0px 10px rgb(97, 97, 97);
}

.thumbnail img{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.breadcrumb {
    padding: 0px 0px !important;
    background: none;
    font-size: 12px;
}

.logo_item a {
    padding: 2px 15px !important;
}

.navbar-nav > li > a {
    padding: 17px 15px;
}

.logo_item img {
    width: 105px;
    margin-top: 2px;
}

.content_wrapper {
    margin-top: 15px;
}

#map {
    width: 100%;
    height: 400px;
}

.footer-logo {
    width: 150px;
}

.main_page_list {
    padding: 0px;
}

.main_page_list li {
    list-style: none;
}

.cross {
        position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 100px;
    background: #777;
    margin: 294px 539px;
    background-size: 100px;
}

span.cross-line-1 {
    display: block;
    width: 300px;
    border-bottom: 1px solid silver;
    margin: 5px -140px;
}

span.cross-line-2 {
    display: block;
    height: 300px;
    border-left: 1px solid silver;
    margin: -150px 4px;
}

.main_page_grid_item {
    height: 270px;
}


.table-header {
        background: #e2e2e2;
        padding: 15px 40px;
        margin: 0px 0px 10px -40px;
    }

@media (min-width: 768px){
    .table-header {
        width: 748px;
    }
}

@media (min-width: 992px){
    .table-header {
        width: 978px;
    }
}

@media (min-width: 1200px){
    .table-header {
        width: 978px;
    }
}




.main_background_block {
    position: absolute;
    height: 560px;
    background: url(http://dentalru.ru/files/office/panorama_3.jpg) no-repeat;
    width: 1140px;
    background-size: 100%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    /*transition:background-size 3s;*/
    z-index: 0;
}

.main_background_block:hover {
    /* The same goes for properties like background-position and repeat */
    /*background-size:110%;*/
}

.jumbotron {
    position: relative;
    z-index: 10;
}

.fours_mainpage_blocks {
    margin-top: 0px;
}

.main_banner_text {
    position: absolute;
    background: rgba(255, 255, 255, 0.7);
    padding: 0px 20px;
    width: 1140px;
    margin: -16px -26px;
    height: 552px;
    color: black;
}

.item-grid {
    padding-left: 0px;
}

.cart_item {
    border-bottom: 1px dashed silver;
    padding: 15px 0px;
    border-left: 1px solid silver;
}

.list-block{
    -moz-column-count: 5; /* Ð”Ð»Ñ Firefox */
    -webkit-column-count: 5; /* Ð”Ð»Ñ Safari Ð¸ Chrome */
    column-count: 5;
    text-transform: capitalize;
}

.item-content{
    padding:10px;
}

.item-title {
    height: 62px;
    overflow-y: hidden;
}

.item-description {
    height: 69px;

}

.title-divider{
    width: 100px;
    border: 1px solid #c0373d;
    position: absolute;
    margin-top: -5px;
}

.item_title {
    height: 80px;
    text-align: center;
}

.price {
    font-size: 25px;
}

.filter-label{
    text-transform: uppercase;
    font-size:12px;

}

.filter-input-group {
    display: inline-block;
    padding: 0px 20px 0px 0px;
}

.slider-handle {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #337ab7;
    background-image: -webkit-linear-gradient(top,#337ab7 0,#337ab7 100%);
    background-image: -o-linear-gradient(top,#337ab7 0,#337ab7 100%);
    background-image: linear-gradient(to bottom,#337ab7,#337ab7 100%);
    
}

.slider.slider-horizontal {
    margin: 0px 10px;
}

.content.content-margin {
    padding-top: 135px;
}

.link-header {
    position: relative;
    width: 980px;
    padding: 10px 40px;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
}

.link-header a {
    color: black;
    font-size: 13px;
}

.navbar-logo > img{
    width:100px;
}

a.category-item-title {
    font-size: 18px;
    color: #074a7b;
}

.cartMenuItem {
    display: inline-block;
    margin: -1px 0px 0px -22px;
    color: white;
    font-size: 22px;
    position: absolute;
}

.cartMenuItem:hover, .cartMenuItem:active, .cartMenuItem:focus{
    color: #e53236;
}

.callback-header-link{
    font-size: 22px !important;
    margin: -10px -14px !important;
}

a.navbar-logo>img {
    position: absolute!important;
    width: 165px!important;
    margin: -6px 4px;
}

li.logoItem {
    width: 190px;
}

.item-title>a {
    color: #074a7b;
}

.list-inline{
    text-align:center;
}

.slider_title{
    color: white;
    text-shadow: 2px 2px black;
}

.available {
    text-align: center;
    padding: 10px 0px;
    font-weight: normal;
}

.available > .label {
    font-weight:normal;
}

.price-product-page{
    font-weight:bold;
    color:black;
}

.product-cart-label-success {
    color: #5cb85c;
}

.product-cart-label-delivery {
    color: #5bc0de;
}

.slide_caption {
    position: absolute;
    margin: 380px 60px;
    width: 400px;
}

span.slide_title {
    display: inline-block;
    padding: 10px 0px;
    font-size: 38px;
    color: white;
    text-shadow: 0 0 9px rgb(42, 41, 40);
}